* {
    box-sizing: border-box;
  }
.body{
    margin: 0;   
}
html{
    font-family: "Lexend Mega", sans-serif;
    font-size: 16px;
    margin: 0;
}
/* HEADER */
header{
    height: 5rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;    
}
.logo{
   letter-spacing: 4px;
   margin-left: 1rem;
}

header nav{
    margin: 0 2rem;
    display: flex;    
    flex-direction: row;
    align-items: center;
}
nav a{
    margin: 1rem;
    color:white;
    font-size: 1.5rem;
    text-decoration: none;
}
a:hover{
    color: blue;
}
header span{
    color: dodgerblue;
    font-weight: 700;
}
header p{
    font-size: 2.5rem;
    text-align: center;
    color: white;
}
header .menu{
    margin-right: 1rem;
    display: none;   
    
}
.menu img{
    height: 1.8rem;
    margin-right: 2rem;
    
}
.menu:hover{
    background-color: white;
}

/*Main*/
.main{
    position: absolute;
    top:3.5rem;
    width: 100%;
    left: 0;
   
}

/*Banner*/
.banner{
    background-image: url("../images/banner2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    margin-bottom: -2rem;
    margin-right: -2rem;
}

/*Product*/
.product{
    background-color: whitesmoke;
    margin: 0;    
    border-bottom: 1px solid gray;
    margin-right: -2rem;
}
.product h2{
    padding-top: 2rem;
    padding-bottom: 0;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}
.product .product_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
}
.product_container .product_box{
    display: flex;
    flex-direction: column;
    width:230px;
    background-color: white;
    margin: 1.5rem 1.5rem 3rem 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pic:hover{
    border: 1px solid black;
    opacity: 0.9;
}
.product_desc:hover{
    background-color: blue;
    color: white;
}
.product_box .pic{
    width: 100%;   
}
.product_box .pic img{
    width: 100%;
}
.product_box .product_desc{
    border-top: 2px solid black;
    text-align: center;
}

/* Our Team */
.team{
    background-color: white;
    padding: .5rem;
    margin-right: -2rem;   
}
.team h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.team .team-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}
.team-container .teammates{
    display: flex;
    align-items: flex-end;
    width: 18.75rem;
    height: 28.12rem ;
    margin: .5rem;
}
.teammates .description{
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: black;
    color: white;
    opacity: 0.9;
    align-items: flex-end;
}
#directeur{
    background-image: url('../images/directeur.jpeg');
    background-size: cover;
    background-position: center;
}
#george{
    background-image: url('../images/george.jpeg');
    background-size: cover;
    background-position: center;
}
#drake{
    background-image: url('../images/drake.jpeg');
    background-size: cover;
    background-position: center;
}
#nakotey{
    background-image: url('../images/nakotey.jpeg');
    background-size: cover;
    background-position: center;
}

/* contact us*/
#contact{
    margin-right: -2rem;
}
#contact h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
#contact .contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.contact-container .left{
    width: 50%;
    padding: 2rem 5rem;  
}
.left .pic{
    width: 100%; 
}
.left .pic img{
    width: 100%;  
}
.contact-container .right{  
    width: 70%;
    flex-grow: 1;
    text-align: center;
    font-family: cursive;  
}
/*footer*/
footer{
    margin-top: 1rem;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.1rem;
    margin-right: -2rem; 
    
}

@media only screen and (max-width: 500px){
    /*header*/
    .link a{
        display: none;
    }
    header .menu {
        display: inline-block; 
        margin-right: 3rem;
    }
    header .logo{
        margin-left: .8rem;
    }
    
    /* contact*/
    #contact{
        margin-top: -2rem;
        padding-top: 4rem;
    }
    #contact .left{
       width: 100%;
       margin-bottom: -1.5rem;
    }
    #contact .contact-container{
    justify-content: center;
    flex-direction: column;
    }
    /*product*/
    .product{
        padding: 0 3rem;
    }
    .product_container{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
     .product_container .product_box{
        width: 80%;
    }
    .product_box .pic img{
        width: 100%;
        height: 250px;
    }
    /*team*/
    .team{
        padding: 0 2rem;
    }
    .team-container{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .team-container .teammates{
        width:80%;
        height: 400px;
        margin-bottom: 1rem;
        
    }
    .teammates .description{
        width: 100%;
    }
    
}